<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/writeAppUsers" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.Username.label%></td>
                <td><input type="text" class="form-control" name="username" value="<%=record.username%>"/></td>
            </tr><tr>
                <td><%=resource.Password.label%></td>
                <td><input type="text" class="form-control" name="password" value="<%=record.password%>"/></td>
            </tr><tr>
                <td><%=resource.Name.label%></td>
                <td><input type="text" class="form-control" name="name" value="<%=record.name%>"/></td>
            </tr><tr>
                <td><%=resource.Email.label%></td>
                <td><input type="text" class="form-control" name="email" value="<%=record.email%>"/></td>
            </tr><tr>
                <td><%=resource.Phone.label%></td>
                <td><input type="text" class="form-control" name="phone" value="<%=record.phone%>"/></td>
            </tr><tr>
                <td><%=resource.Mobile.label%></td>
                <td><input type="text" class="form-control" name="mobile" value="<%=record.mobile%>"/></td>
            </tr><tr>
                <td><%=resource.Enabled.label%></td>
                <td><input type="text" class="form-control" name="enabled" value="<%=record.enabled%>"/></td>
            </tr><tr>
                <td><%=resource.Token.label%></td>
                <td><input type="text" class="form-control" name="token" value="<%=record.token%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Update</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default""><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
