<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/newGeneralLedger" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.Id.label%></td>
                <td><input type="text" class="form-control" name="id" value="<%=record.id%>"/></td>
            </tr><tr>
                <td><%=resource.AccCode.label%></td>
                <td><input type="text" class="form-control" name="accCode" value="<%=record.accCode%>"/></td>
            </tr><tr>
                <td><%=resource.CreateDate.label%></td>
                <td><input type="text" class="form-control" name="createDate" value="<%=record.createDate%>"/></td>
            </tr><tr>
                <td><%=resource.Description.label%></td>
                <td><input type="text" class="form-control" name="description" value="<%=record.description%>"/></td>
            </tr><tr>
                <td><%=resource.Debit.label%></td>
                <td><input type="text" class="form-control" name="debit" value="<%=record.debit%>"/></td>
            </tr><tr>
                <td><%=resource.Credit.label%></td>
                <td><input type="text" class="form-control" name="credit" value="<%=record.credit%>"/></td>
            </tr><tr>
                <td><%=resource.Posted.label%></td>
                <td><input type="text" class="form-control" name="posted" value="<%=record.posted%>"/></td>
            </tr><tr>
                <td><%=resource.Source.label%></td>
                <td><input type="text" class="form-control" name="source" value="<%=record.source%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Add</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default"><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
